.game-details {
    left: 42rem;
    position: absolute;

    dl {
        dt {
            font-weight: bold;
        }
        dd {
            font-size: 2rem;
            margin-left: 0;
            margin-bottom: 0.5rem;
        }
    }
}
